.note-box {
    /* Box model properties */
    width: 50%; /* Adjust as needed */
    max-width: 500px; /* To prevent it from getting too wide */
    height: 20%;
    padding: 20%;
    margin: 20px auto; /* Center the box */

    /* Border and shadow */
    border-left: 5px solid #6b4bc1;
    border-radius: 8px;
    border-color: black, 0, 4px 6px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;

    background: white;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
        text-align: center;
        width: 350px;
        height: 200px;
}

.note-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.note-icon {
    font-size: 24px;
    color: #6b46c1;
}

.note-titte {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.note-content {
    font-size: 26px;
    line-height: 1.5;
    margin: 0;
}